/* You can add global styles to this file, and also import other style files */
.border-none {
    border: none;
}
.border-form {
    border: none;
    border: 1px solid #bebebe;
}
.border-error {
    border: 1px solid red;
}
.letter-error {
    color: red;
}