<div class="login-container">
  <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="_submitForm()">
    <div nz-form-item>
      <div nz-form-control>
        <nz-input formControlName="username" [nzPlaceHolder]="'Username'" [nzSize]="'large'">
          <ng-template #prefix>
            <i class="anticon anticon-user"></i>
          </ng-template>
        </nz-input>
        <div nz-form-explain *ngIf="validateForm.controls.username.dirty&&validateForm.controls.username.hasError('required')">请正确输入您的用户名！</div>
      </div>
    </div>
    <div nz-form-item>
      <div nz-form-control>
        <nz-input formControlName="password" [nzType]="'password'" [nzPlaceHolder]="'Password'" [nzSize]="'large'">
          <ng-template #prefix>
            <i class="anticon anticon-lock"></i>
          </ng-template>
        </nz-input>
        <div nz-form-explain *ngIf="validateForm.controls.password.dirty&&validateForm.controls.password.hasError('required')">请正确输入您的密码！</div>
      </div>
    </div>
    <div nz-form-item>
      <div nz-form-control>
        <label nz-checkbox formControlName="remember">
          <span>Remember me</span>
        </label>
        <a class="login-form-forgot" class="login-form-forgot">Forgot password</a>
        <button nz-button class="login-form-button" [nzType]="'primary'" [nzSize]="'large'">login in</button>
      </div>
    </div>
  </form>
</div>
